.my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
 }
 .bg-color {
     background-color: #205375;
 }
.table-wrapper-scroll-y {
    display: block;
}

.banner {
    // height: 100vh;
    // width: 100%;
    // background: #0f0c29;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-color: #DDDDDD;
}
    