<html>
  <body>
    <div class="container-fluid banner">
      <div class="container container-table">
        <div class="row vertical-center-row ">
          <div
            class="text-center col-md-offset-4 shadow-lg p-3 mb-5 bg-body rounded"
            style="background-color: white;"
          >
            <h1>{{ message }}</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Voluptatibus itaque ipsa nobis dolor harum ex exercitationem
              nostrum sint. Error, tenetur impedit dolores reprehenderit
              mollitia voluptatem animi iusto nam! Suscipit ipsum eum
              praesentium ex beatae, expedita explicabo libero voluptas non
              dicta assumenda quia culpa minus eius commodi quam, fugit sed
              veniam.
            </p>
            <button
              type="button"
              class="btn btn-info"
              routerLink="list"
            >
              View Product List
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
